<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img width="70" height="70" src="../../../assets/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notifications" routerLinkActive="text-primary"><i class="fa-regular fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search" routerLinkActive="text-primary"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
